.main{
  min-height: 100vh;
  width: 100%;
  display: flex;
  padding: 1rem 2rem;
}


nav img{
 
  height: 4rem;
  top: 0;
  left: 0;
}

  

.left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 50%; */
  flex: 1;
  
  gap: 1rem;
  text-align: center;
}

.left img{
  height: 3.5rem;
}
.left p{
  font-weight: 600;
  color: rgb(3, 17, 57);
}

.left h1{
  font-size: 2.5rem;
  font-weight: 600;
}

.lefttop{
  
  margin-right: auto;
  margin-bottom: auto;
  flex: 2;
}

.leftbottom{
  display: flex;
  flex-direction: column;
  flex: 3;
  gap: 2rem;
  padding: 0 3rem;
}
.right{
  display: flex;
  /* width: 50%; */
  flex: 1;
}

.right img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}